@font-face {
    font-family: 'HUFS_B';
    src: url('/fonts/HUFS_B.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HUFS_L';
    src: url('/fonts/HUFS_L.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'gamtan_B';
    src: url('/fonts/gamtan_B.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gamtan_R';
    src: url('/fonts/gamtan_R.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .screen .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .screen .overlap {
    height: 733px;
    top: 291px;
    position: absolute;
    width: 1440px;
    left: 0;
  }
  
  .screen .chatgpt-image {
    position: absolute;
    width: 1440px;
    height: 695px;
    top: 38px;
    left: 0;
    object-fit: cover;
  }
  
  .screen .SHARE-KIT {
    position: absolute;
    width: 740px;
    top: 0;
    left: 350px;
    font-family: "gamtan_R", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: 50px;
  }
  
  .screen .text-wrapper {
    font-family: "gamtan_R", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 35px;
    letter-spacing: 0;
    line-height: 50px;
  }
  
  .screen .span {
    font-size: 55px;
  }
  
  .screen .text-wrapper-2 {
    font-size: 50px;
  }
  
  .screen .overlap-group {
    height: 111px;
    top: -1px;
    position: absolute;
    width: 1440px;
    left: 0;
  }
  
  .screen .navigation-header {
    position: absolute;
    width: 1440px;
    height: 84px;
    top: 27px;
    left: 0;
  }
  
  .screen .BG {
    height: 52px;
    background-color: #ffffff;
    box-shadow: inset 0px -1px 0px #eaeaea;
  }
  
  .screen .p {
    position: absolute;
    width: 242px;
    height: 74px;
    top: 0;
    left: 50px;
    font-family: "HUFS_B", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 44.8px;
  }
  
  .screen .text-wrapper-3 {
    color: #8d7150;
  }
  
  .screen .text-wrapper-4 {
    color: #000000;
    font-size: 15px;
    line-height: 15.0px;
  }
  
  .screen .text-wrapper-5 {
    color: #002d56;
    font-size: 11.2px;
    line-height: 15.7px;
  }
  
  .screen .vehicles {
    position: absolute;
    width: 86px;
    height: 36px;
    top: 19px;
    left: 950px;
    background-color: var(--ui-elementprimary);
    border-radius: 24px;
    box-shadow: 0px 1px 5px #00000040;
  }
  
  .screen .vehicles-2 {
    position: absolute;
    height: 20px;
    top: 7px;
    left: 15px;
    font-family: "HUFS_B", Helvetica;
    font-weight: 400;
    color: #002d56;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 19.6px;
    white-space: nowrap;
  }
  
  .screen .vehicles-wrapper {
    position: absolute;
    width: 86px;
    height: 36px;
    top: 19px;
    left: 1063px;
    background-color: var(--ui-elementprimary);
    border-radius: 24px;
    box-shadow: 0px 1px 5px #00000040;
  }
  
  .screen .div-wrapper {
    position: absolute;
    width: 86px;
    height: 36px;
    top: 19px;
    left: 1176px;
    background-color: var(--ui-elementprimary);
    border-radius: 24px;
    box-shadow: 0px 1px 5px #00000040;
  }
  
  .screen .vehicles-3 {
    position: absolute;
    width: 86px;
    height: 36px;
    top: 19px;
    left: 1290px;
    background-color: #a0a0a04c;
    border-radius: 24px;
  }
  
  .screen .vehicles-4 {
    position: absolute;
    height: 20px;
    top: 7px;
    left: 22px;
    font-family: "HUFS_B", Helvetica;
    font-weight: 400;
    color: #002d56;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 19.6px;
    white-space: nowrap;
  }
  
  .screen .div-2 {
    position: absolute;
    width: 785px;
    top: 224px;
    left: 327px;
    font-family: "gamtan_B", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 65px;
    text-align: center;
    letter-spacing: 0;
    line-height: 50px;
  }
  
  .screen .text-wrapper-6 {
    color: #000000;
    font-size: 50px;
  }
  /* Inject original CSS here */
  
  /* New and modified styles */
  .screen {
    min-height: 100vh;
  }
  
  .main-content {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .navigation-header {
    position: relative;
    width: 100%;
    height: 84px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-family: "HUFS_B", Helvetica;
    font-weight: 400;
    font-size: 32px;
    line-height: 0.5;
  }
  
  .nav-links {
    display: flex;
    gap: 27px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-button {
    display: inline-block;
    padding: 7px 15px;
    font-family: "HUFS_B", Helvetica;
    font-weight: 400;
    color: #002d56;
    font-size: 14px;
    text-align: center;
    line-height: 1.4;
    white-space: nowrap;
    background-color: var(--ui-elementprimary);
    border-radius: 24px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-button:hover,
  .nav-button:focus {
    background-color: #002d56;
    color: var(--ui-elementprimary);
  }
  
  .nav-button.login {
    background-color: rgba(160, 160, 160, 0.3);
  }
  
  .hero {
    padding-top: 160px;
    text-align: center;
  }
  
  .hero-title {
    font-family: "gamtan_B", Helvetica;
    font-weight: 700;
    font-size: 65px;
    line-height: 1;
    color: #8d7150;
    margin-bottom: 40px;
  }
  
  .hero-content {
    position: relative;
  }
  
  .hero-image {
    width: 100%;
    max-width: 1440px;
    height: auto;
    object-fit: cover;
  }
  
  .hero-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 740px;
    font-family: "gamtan_R", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 35px;
    text-align: center;
    line-height: 1;
  }
  
  .hero-text .text-wrapper-2 {
    font-size: 50px;
    display: block;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .navigation-header {
      flex-direction: column;
      height: auto;
      padding: 20px;
    }
  
    .nav-links {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
    }
  
    .hero-title {
      font-size: 40px;
    }
  
    .hero-text {
      width: 90%;
      font-size: 24px;
    }
  
    .hero-text .text-wrapper-2 {
      font-size: 32px;
    }
  }
  