@font-face {
    font-family: 'HUFS_B';
    src: url('/fonts/HUFS_B.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HUFS_L';
    src: url('/fonts/HUFS_L.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'HUFS_L';
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-header {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: #002D56;
    display: block;
  }


#profile h1 {
    transform: translateY(-30px);
    margin-top: 0;
    font-family: "HUFS_B";
    font-size: 36px;
    color: #002D56;
    font-weight: bold;
    
}  




main {
    width: 100%;
    max-width: 480px;
    padding: 60px 30px 30px;
    background-color: #fdfdfd;
    border-radius: 14px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="text"],
input[type="password"] {
    padding: 18px 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'HUFS_L';
    background-color: #fff;
    color: #333;
}

input::placeholder {
    color: #999;
}

button#submitProfileBtn {
    padding: 18px;
    font-size: 20px;
    background-color: #9D9FA2;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'HUFS_B';
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#submitProfileBtn:hover {
    background-color: #7c7e81;
}
