<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/mainstyleguide.css" />
    <link rel="stylesheet" href="/css/mainstyle.css" />
    <title>SHARE - KIT: 한국외국어대학교 공과대학 물품대여 서비스</title>
  </head>
  <body>
    <div class="screen">
      <main class="main-content">
        <header class="header">
          <nav class="navigation-header">
            <div class="BG"></div>
            <div class="logo">
              <h1 class="text-wrapper-3">SHARE - KIT</h1>
              <span class="text-wrapper-5">한국외국어대학교 공과대학 물품대여 서비스</span>
            </div>
            <ul class="nav-links">
              <li><a href="/equipment-list" class="nav-button">물품 목록</a></li>
              <li><a href="/addEquipment" class="nav-button">물품 등록</a></li>
              <li><a href="/changeStatus" class="nav-button">반납승인</a></li>
              <li><a href="/login" class="nav-button login">Log In</a></li>
            </ul>
          </nav>
        </header>
        <section class="hero">
          <h2 class="hero-title">
            <span class="text-wrapper-3">공학의 모든 순간을 함께하다</span>
          </h2>
          <div class="hero-content">
            <img class="hero-image" src="image/background.png" alt="공과대학 학습 환경 이미지" />
            <p class="hero-text">
              <span class="text-wrapper">공과대학 학우 여러분들의 더 나은 학습환경을 위해<br>SHARE-KIT가 함께합니다.</span>
              <br></br>
              
            </p>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
